<div class="newsletter">
    <h2 class="sidebar-title">Recent posts</h2>
    {% for item in recent %}
        <div class="grid" style="position: relative; height: 80px;">
            <div class="portfolio-item recent"
                 style="position: absolute; left: 0px; top: 0px;">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="{{ item.title }}">
                {% else %}
                    <img src="https://picsum.photos/id/1011/300/201" alt="photo is not found">
                {% endif %}
                <div class="portfolio-text">
                    <h5><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h5>
                    <p>{{ item.author }} <br/> {{ item.created_at }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>